# Terraform workspace files
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*

# Terraform lock file (SHOULD NOT BE IGNORED IN COLLABORATIVE ENVIRONMENT!!)
.terraform.lock.hcl

# Keys
*.pem
*.key
*.pub

# Inventory
inventory

# VSC settings
settings.json